<template>
    <div>
        <h1>G3 Tech $tore </h1>
        <h2>Carrito de compras</h2>
        <h3>{{cliente.nombre}}</h3>
        
        <div v-for="producto in lista_productos" :key="producto.id" class="producto">
            <p>{{ producto.id }}</p>
            <p>{{ producto.nombre }}</p>
            <img v-bind:src="producto.imagen" width=100px height=100px>
            <p>{{ producto.precio }}</p>
            <button v-on:click="borrarItem(producto.id)">X</button>
           <!-- <button v-on:click="irAActualizarEstudiante(estudiante)">actualizar</button> -->
        </div>
        <br>
        <br>
        <p>Total: {{total}}</p>
    </div>
</template>
<script>
import axios from "axios";

export default {
  name: "ListaProductos",

  data: function() {
    return {
      lista_productos: [],
      cliente:[],
      total:0,
    };
  },
  methods:{
actualizarLista: function() {
      axios
        .get("http://127.0.0.1:8000/catalogo/"+this.$route.params.id+"/")
        .then((respuesta) => {
          console.log(respuesta.data);
          this.lista_productos = respuesta.data["items"];          
          this.cliente = respuesta.data["cliente"];  
          
          for(var a =0; a<this.lista_productos.length;a++){
          console.log(this.lista_productos[a].precio);
          this.total+=this.lista_productos[a].precio;
          }
         console.log(this.total);
        })
        .catch((error) => {
          alert("Error obteniendo los productos");
          console.log(error);
        });
        //let a = 0;
        
        
    },
    borrarItem: function(){

    },
  },

  created: function() {
    this.actualizarLista();
  },
};


</script>

<style>
.producto {
  border: 1px solid;
  width: 20%;
  background-color: antiquewhite;
  margin: auto;
  display: grid;

}
</style>