<template>

<div>
      <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="/">
      <img src="@/assets/logo.png" id="icon" width=50% height=50% alt="User Icon" /></b-navbar-brand>
       <!--   
      <input type="text" id="login" name="login" placeholder="Usuario" v-model="usuario"> 
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña" v-model="password">
      <input type="submit" value="Ingresar"> -->
      </b-navbar> 
        <br><br>
</div>
    
</template>