<template>
    <div>
        <Header />
            <div class="container">
                
                <h3>Registrar usuario </h3>
                <form action="" class="form-horizontal">
                    <div class="form-group left">
                       <label for="" class="control-label col-sm-2">Usuario</label>
                       <div class="col-sm-10">
                          <input type="text" class="form-control" name="username" id="username" v-model="form.username">
                       </div>
                    </div>
                    <div class="form-group left">
                       <label for="" class="control-label col-sm-2">Contraseña</label>
                       <div class="col-sm-10">
                          <input type="password" class="form-control" name="formpassword" id="password" v-model="form.password">
                       </div>
                    </div>
                    
                    <div class="form-group left row ">
                        
                        <div class="col">
                               <label for="" class="control-label col-sm-2">Nombre corto</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="name" id="name" v-model="form.name">
                                </div>
                        </div>

                         <div class="col">
                               <label for="" class="control-label col-sm-2">Correo electronico</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="email" id="email" v-model="form.email">
                                </div>
                        </div>
                        
                    </div>

                    <div class="form-group left row">
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" v-on:click="guardar()" >Guardar</button>
                      <button type="button" class="btn btn-dark margen" v-on:click="salir()"  >Salir</button>
                    </div> 
                </form>


            </div>
        <!-- <Footer /> -->

    </div>
</template>
<script>
import Header from '@/components/Header.vue'
//import Footer from '@/components/Footer.vue'
import axios from 'axios';
export default {
    name:"NuevoUsuario",
    data:function(){
        return {
            form:{
                "username" : "",
                "password" : "",
                "name":"",
                "email": "",
                "cliente": ""
            }
            
        }
    },
    components:{
        Header,
        //Footer
    },
    methods:{
        guardar(){
           // this.form.token = localStorage.getItem("token");
            axios.post("http://127.0.0.1:8000/user/",this.form)
            .then(data =>{
                console.log("usuario creado");
                console.log(data);
                this.makeToast("Hecho","Datos creado","success");
                this.$router.push("/nuevo");
            }).catch( e =>{
                console.log(e);
                 this.makeToast("Error","Error al guardar","error");
            })
        },
        salir(){
            this.$router.push("/nuevo");
        },
        makeToast(titulo,texto,tipo) {
            this.toastCount++
            this.$bvToast.toast(texto, {
            title: titulo,
            variant: tipo,
            autoHideDelay: 5000,
            appendToast: true
            })
        }
        
    }
}
</script>
<style scoped>
.left{
    text-align:  left;
}
</style>