<template>
    <div>
        <Header />
            <div class="container">
                
                <h3>Registrar cliente </h3>
                <form action="" class="form-horizontal">
                    <div class="form-group left">
                       <label for="" class="control-label col-sm-2">Nombre</label>
                       <div class="col-sm-10">
                          <input type="text" class="form-control" name="nombre" id="nombre" v-model="form.nombre">
                       </div>
                    </div>
                    <div class="form-group left">
                       <label for="" class="control-label col-sm-2">Direccion</label>
                       <div class="col-sm-10">
                          <input type="text" class="form-control" name="direccion" id="direccion" v-model="form.direccion">
                       </div>
                    </div>
                    
                    <div class="form-group left row ">
                        
                        <div class="col">
                               <label for="" class="control-label col-sm-2">Cédula</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="cedula" id="cedula" v-model="form.cedula">
                                </div>
                        </div>
                        
                    </div>

                    <div class="form-group left row">
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" v-on:click="guardar()" >Guardar</button>
                      <button type="button" class="btn btn-dark margen" v-on:click="salir()"  >Salir</button>
                    </div> 
                </form>


            </div>
        <!-- <Footer /> -->

    </div>
</template>
<script>
import Header from '@/components/Header.vue'
//import Footer from '@/components/Footer.vue'
import axios from 'axios';
export default {
    name:"Nuevo Cliente",
    data:function(){
        return {
            form:{
                "nombre" : "",
                "cedula" : "",
                "direccion": ""
            },
            clientId:0,
            userId:0,
            cliente:{
            "cliente":this.clientId
            }
        }
    },
    components:{
        Header,
        //Footer
    },
    methods:{
        guardar: async function(){
           // this.form.token = localStorage.getItem("token");
            axios.post("http://127.0.0.1:8000/cliente/",this.form)
            .then(data =>{
                console.log(data);
                this.makeToast("Hecho","Datos creado","success");
                //this.$router.push("/productos");
            }).catch( e =>{
                console.log(e);
                 this.makeToast("Error","Error al guardar","error");
            });
        axios
        .get("http://127.0.0.1:8000/cliente/")
        .then((respuesta) => {
          this.clientId=respuesta.data[respuesta.data.length-1].id;
          window.sessionStorage.setItem("ultimo_cliente", this.clientId);
        })
        .catch((error) => {
          alert("Error obteniendo el id del cliente");
          console.log(error);
        }
        );
        axios
        .get("http://127.0.0.1:8000/user/")
        .then((respuesta) => {
          this.userId=respuesta.data[respuesta.data.length-1].id;
          window.sessionStorage.setItem("userId", this.userId);
          this.$router.push("/productos");
        })
        .catch((error) => {
          alert("Error obteniendo el id del usuario");
          console.log(error);
        }
        );
        /*
        await this.userId;
        console.log("****");
        
        console.log(window.sessionStorage.getItem("userId"));
        
        axios
        .put("http://127.0.0.1:8000/user/"+this.userId+"/", this.cliente["cliente"])
        .then((respuesta) => {
          console.log(respuesta);
          this.$router.push("/productos");
        })
        .catch((error) => {
          alert("Error obteniendo el id del cliente");
          console.log(error);
        }
        ); */

        },
        salir(){
            this.$router.push("/productos");
        },
        makeToast(titulo,texto,tipo) {
            this.toastCount++
            this.$bvToast.toast(texto, {
            title: titulo,
            variant: tipo,
            autoHideDelay: 5000,
            appendToast: true
            })
        }
        
    }
}
</script>
<style scoped>
.left{
    text-align:  left;
}
</style>