<template>
    <div>

      <div class="carrito">
          <b-button><b-icon icon="cart" aria-hidden="true"></b-icon>Carrito ({{catalogo.items.length}})</b-button>
       </div>
        
        <h1>G3 Tech $tore </h1>
        <h2>Lista de productos</h2>
        <div class="contenedor">
      <table class="table" border="2px" >
             <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre producto</th>
                  <th>Imagen</th>
                  <th>Precio</th>
                  <th>Comprar</th>
                </tr>  
              </thead>
        <tbody>
         <tr v-for="producto in lista_productos" :key="producto.id" ><!--class="producto" -->
        
             
                <td> {{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td><img v-bind:src="producto.imagen" width=100px height=100px></td>
                <td>{{ producto.precio }}</td>
                <td><b-button v-on:click="agregarAlCarrito(producto.id)">Agregar al Carrito</b-button></td>
              
            
        
           <!-- <button v-on:click="borrarEstudiante(estudiante.id)">eliminar</button>
            <button v-on:click="irAActualizarEstudiante(estudiante)">actualizar</button> -->
         </tr>
  
        </tbody>
       </table> 
    </div> 
    <b-button v-on:click="irAlCarrito()">Realizar orden de compras</b-button>
    <br><br>
    </div>
</template>
<script>
import axios from "axios";
//import {BIcon, BIconCart} from 'bootstrap-vue'

export default {
  name: "ListaProductos",

  data: function() {
    return {
      lista_productos: [],
      lastCatalog:Number,
      
      nocart: true,
      catalogo:{
        cliente:Number,
        userId:Number,
        items: [],
      },
      a:""
      
    };
  },
  methods:{
actualizarLista: function() {
      axios
        .get("http://127.0.0.1:8000/producto/")
        .then((respuesta) => {
          console.log(respuesta.data);
          this.lista_productos = respuesta.data;
        })
        .catch((error) => {
          alert("Error obteniendo los productos");
          console.log(error);
        });
    },
  
  agregarAlCarrito: function(id) {
        //var lastCatalog=0;
        console.log("carrito " + id);
    if(this.nocart==true){
      axios
        .get("http://127.0.0.1:8000/catalogo/")
        .then((respuesta) => {
          this.lastCatalog=respuesta.data[respuesta.data.length-1].id;
          window.sessionStorage.setItem("ultimo_catalogo", this.lastCatalog);
          this.catalogo.items.push(id);
          window.sessionStorage.setItem("items carrito", this.catalogo.items);
          this.nocart=false;
        })
        .catch((error) => {
          alert("Error obteniendo el id del catalogo");
          console.log(error);
        }
        );
      }
      else {
        this.catalogo.items.push(id);
        window.sessionStorage.setItem("items carrito", this.catalogo.items);
      }
    },
    irAlCarrito: function() {
        //var lastCatalog=0;
      this.catalogo.cliente=sessionStorage.getItem("ultimo_cliente");
      this.catalogo.userId=sessionStorage.getItem("userId");
      console.log(this.catalogo.cliente,this.catalogo.userId);
      //this.a='{"cliente":'+this.catalogo.cliente+'}';
      axios
        .put("http://127.0.0.1:8000/user/"+this.catalogo.userId+"/",{
          "cliente":this.catalogo.cliente
        })
        .then((respuesta) => {
          console.log(respuesta);
        })
        .catch((error) => {
          alert("Error obteniendo el id del cliente");
          console.log(error);
        }
        );

      axios
        .post("http://127.0.0.1:8000/catalogo/", this.catalogo)
        .then((respuesta) => {
          sessionStorage.getItem("items carrito", this.catalogo.items);
          console.log(respuesta.data.message);
          this.catalogo.items = []
          sessionStorage.setItem("items carrito",this.catalogo.items);
        })
        .catch((error) => {
          alert("Error obteniendo el id del catalogo");
          console.log(error);
        }
        ); 
        var c=window.sessionStorage.getItem("ultimo_catalogo");
        console.log(c);
        this.$router.push("/carrito/"+c+"/");
    },
  },
  created: function() {
    this.actualizarLista();
  },
};


</script>

<style>

.contenedor{
  width: 50%;
  margin: auto;
  /*background-color: rgba(12, 8, 1, 0.075);*/
}
.producto {
  border: 1px solid;
  width: 50%;
  background-color: rgb(240, 241, 247);
  margin: auto;
  /*display:flex;*/
  /*padding: auto;*/
}
#cab2 { color: #3406b3;
  text-align:  center;
}
.carrito{
  position:fixed;
  right: 7%;
  bottom: 7%;
  text-align:  right;
  padding: auto;
  
  
}

</style>