<template>
    <div>
        <h1>G3 Tech $tore </h1>
        <h2>Producto</h2>
        <div key=this.$route.params.id class="producto">
            <p>{{ producto.id }}</p>
            <p>{{ producto.nombre }}</p>
            <img v-bind:src="producto.imagen" width=100px height=100px>
            <p>{{ producto.precio }}</p>
            <button v-on:click="agregarAlCarrito(producto.id)">Agregar al Carrito</button>
            <br><br>
           <!-- <button v-on:click="irAActualizarEstudiante(estudiante)">actualizar</button> -->
        </div>
    </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Producto",

  data: function() {
    return {
      producto: '',
      lastCatalog:Number,
      carrito: []
    };
  },
  methods:{
actualizarItem: function() {
      axios
        .get("http://127.0.0.1:8000/producto/"+this.$route.params.id+"/")
        .then((respuesta) => {
          console.log(respuesta.data);
          this.producto = respuesta.data;
        })
        .catch((error) => {
          alert("Error obteniendo el producto");
          console.log(error);
        });
    },

    agregarAlCarrito: function() {
        //var lastCatalog=0;
      axios
        .get("http://127.0.0.1:8000/catalogo/")
        //.get("http://127.0.0.1:8000/catalogo/"+this.$route.params.id+"/")
        .then((respuesta) => {
          console.log(respuesta.data.length);
          console.log(respuesta.data[respuesta.data.length-1].id);
          //this.producto = respuesta.data;
          this.lastCatalog=respuesta.data[respuesta.data.length-1].id;
          window.sessionStorage.setItem("ultimo_catalogo", this.lastCatalog);
          this.carrito.push(this.producto.id);
          console.log(this.producto.id);
          window.sessionStorage.setItem("items carrito", this.carrito);

        })
        .catch((error) => {
          alert("Error obteniendo el id del catalogo");
          console.log(error);
        }
        
        );
    },
  },

  created: function() {
    this.actualizarItem();
  },
};


</script>

<style>
.producto {
  border: 1px solid;
  width: 20%;
  background-color: antiquewhite;
  margin: auto;
}

button{
    border-radius: 20%;
    
    margin-bottom: 10px;
}
</style>